/*------------------------------------------/
/-----------------Header--------------------/
/------------------------------------------*/
*
{
	padding: 0px;
	margin: 0px;
}
html, body {
	overflow-x: hidden;
}
.banner {
  width: 100%;
  height: 100%;
  background: linear-gradient(
  		rgba(11,17,40,0.4),
  		rgba(11,17,40,0.4)
  	),
    url('images/header4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-text
{
    display: table-cell;
    vertical-align: middle;
}
.tablebox
{
  display: table;
  width: 100%;
}
.hostyle
{
  /*font-family: 'Pacifico', cursive;*/
  /*color: #c6027f; */
  color: #320509;
  font-size: 60px;
}
.pstyle
{
  /*font-family: 'Raleway', sans-serif;*/
  font-family: 'Cinzel';
  color: rgb(250, 248, 245);
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  /*padding: 0px !important;*/
  padding: 10px 0 0 0 !important;
  /*padding-top: 10px !important;*/
}
@media screen and (max-width: 600px){
	.banner{
		/*background-image: -webkit-linear-gradient(left, rgba(11,17,40,0.1) 50%, rgba(11,17,40,0.1) 50%),
        url('images/header3.jpg');*/
    background: linear-gradient(
  		rgba(11,17,40,0.4),
  		rgba(11,17,40,0.4)
  	),
    url('images/header3.jpg');
  	background-repeat: no-repeat;
  	background-size: cover;
  	min-width: 360px;
  }
  .pstyle {
    /*padding-right: 30px !important;*/
    margin-right: 30px !important;
  }
  .arrow, .arrow:hover {
    /*padding-right: 30px !important;*/
    margin-right: 30px !important;
  }
/*  .arrow:focus {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }*/
  .hostyle {
    /*padding-right: 30px !important;*/
    margin-right: 30px !important;
  }
}
.arrow
{
    text-align: center;
    font-size: 60px;
    color: rgba(250, 248, 245, 0.75);
    display: inline-block;
    margin: 30px -2px 0px 0px;
}
.arrow:hover, .arrow:focus
{
    text-align: center;
    font-size: 60px;
    color: rgba(250, 248, 245, 0.95);
    display: inline-block;
    margin: 30px -2px 0px 0px;
}
/*#heads:before, #heads:after {
			background: rgba(250, 248, 245, 0.75);
			content: '';
			left: 50%;
			position: absolute;
			/*width: 1px;*/
			/*z-index: 0;*/
		/*}*/
		/*#heads::before {
    height: calc(100%);
    opacity: 0.15;
    top: 0px;
}*/
/*.line:before
{
	background: rgba(250, 248, 245, 0.75);
			content: '';
			position: absolute;
			width:100%;
			z-index: 0;
			padding-left:0px !important;
}
.line::before
{
    height: 1px;
    opacity: 0.15;
	top: 32px;
	left: 0px;
}*/
/*#menu:before
{
	background: rgba(250, 248, 245, 0.75);
			content: '';
			position: absolute;
			width: 100%;
			z-index: 0;
}*/
/*#menu::before {
    height: 1px;
    opacity: 0.15;
	bottom: 100px;
}*/

.banner-text h2
{
	color: rgb(250, 248, 245);
	font-size: 40px;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Cinzel';
	font-weight: 700;
}
.spanstyle
{
	color: #320509;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Cinzel';
	font-weight: 400;
}
.spanstyle2
{
	color: #000;
}
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.menubar
{
	margin-bottom: 0px !important;
	background-color: #8F0100;
	border: none !important;
	border-radius: 0px !important;
	z-index: 2;
}
.logo
{
	/*padding: 24px 15px !important;*/
/*	padding-top: -40px !important;
	padding-bottom: -10px !important;*/
	display: inline-block;
	/*height: auto !important;*/
	/*font-family: 'Pacifico', cursive;*/
	/*color: rgb(250, 248, 245) !important;*/
	/*font-size: 34px !important;*/
}
.navbar-header img {
	margin-top: -10px !important;
	margin-bottom: 10px !important;
	padding-bottom: 10px !important;
}

.navstyle li a
{
	padding: 30px 15px !important;
	color: rgb(250, 248, 245);
	/*font-family: "Source Sans Pro",sans-serif;*/
	font-family: 'Cinzel';
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.navstyle li a:hover, .navstyle li a:focus, .navstyle li a.active
{
	background-color: #690100 !important;
	color: rgb(250, 248, 245);
}

.navbar-right {
    float: right !important;
    margin-right: 0px !important;
}


/*------------------------------------------/
/-----------------Instagram-----------------/
/------------------------------------------*/

#insta-900, #insta-450 {
	text-align: center;
	margin: 0 auto;
}
#insta-link {
	text-align: center;
	padding-top: 10px;
}





/*------------------------------------------/
/-----------------Services------------------/
/------------------------------------------*/

.services
{
	padding: 100px 0px 100px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(0,0,0,0.1);
}
.service-top {
	padding-top: 30px;
}
.services a {
	color: #8F0100;
}
.services a:hover {
	color: #000;
}
.service-icons
{
	width: 12%;
	float: left;
}
.servicebox
{
	margin-top: 60px;
}
.service-icons img
{
	width: 100%;
}
.fh-desc
{
	width: 80%;
	float: right;
}

.fh-desc h3
{
	margin: 0px !important;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Cinzel';
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #242424;
}
.fh-desc p {
    color: #888;
    /*font-family: "Source Sans Pro",sans-serif;*/
    font-family: 'Cinzel';
    font-size: 16px;
    margin-top: 5px;
	width: 90%;
}




/*------------------------------------------/
/-----------------Price-------------------/
/------------------------------------------*/
.price-section {
	margin-top: 90px;
}
.paint-prices {
	padding-top: 20px;
	padding-bottom: 20px;
}
.repair-prices {
	padding-bottom: 20px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

/*------------------------------------------/
/-----------------Gallery-------------------/
/------------------------------------------*/

.gallery
{
	padding: 100px 0px;
}
.all-td
{
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Cinzel';
	font-size: 22px;
	font-weight: 400;
	color: #242424;
	text-transform: uppercase;
	margin: 0px;
	letter-spacing: 2px;
}
.alldesc h2
{
  color: #690100;
  /*font-family: "Source Sans Pro",sans-serif;*/
  font-family: 'Cinzel';
  font-size: 40px;
  margin-top: 0px !important;
  font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.desc
{
	 /*font-family: "Source Sans Pro",sans-serif;*/
	 font-family: 'Cinzel';
	 font-size: 17px;
	 font-weight: 400;
	 color: #888;
}
.sorting
{
	background-color: rgba(0, 0, 0, 0.06);
	margin-top: 60px;
	color: #690100;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Cinzel';
	font-weight: 700;
	font-size: 15px;
	margin-left: 15px;
}
.sorting .active
{
	background-color: #690100;
	color: #fff;
}
.active
{
	background-color: #690100;
	color: #fff;
}
/*.filimg
{
	padding: 10px 15px;
	cursor:pointer;
}
.galleryimg
{
	margin-top: 30px;
}
.mix
{
	padding: 0px;
}*/





#galleryimg .mix{
	display: none;
}


.grid {
	position: relative;
	margin: 20px auto 0px;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #888;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}


figure.effect-Beauty{
	background-color: #45070C;
}

figure.effect-Beauty img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
	width: 100%;
}

figure.effect-Beauty:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-Beauty h2 {
	margin-top: 20%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-Beauty p {
	margin: 1em 0 0;
	padding: 15px;
	border: 1px solid #fff;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
}

figure.effect-Beauty:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-Beauty:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}






















/*------------------------------------------/
/-----------------Note----------------------/
/------------------------------------------*/
.notes
{
	background-color: #45070C;
	padding: 100px 0px;
}
.notes p
{
	color: rgb(250, 248, 245);
	/*font-family: "Source Sans Pro",sans-serif;*/
	font-family: 'Cinzel';
	font-weight: 400;
	font-size: 24px;
	margin: 0px;
	padding-top: 15px;
}
@media screen and (max-width: 980px){
	.notes p {
		text-align: center;
		padding: 0 !important;
	}
	.notes ul {
		text-align: center;
	}
}

/*------------------------------------------/
/-----------------About---------------------/
/------------------------------------------*/

.about
{
	padding: 100px 0px;
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}
#nestoImg
{
	height: 400px;
	display: inline-block;
	float: left;
	padding-right: 20px;
}
@media screen and (max-width 980px){
	#nestoImg {
		float: none !important;
		margin: 0 auto !important;
		padding: 0 !important;
	}
}
.block
{
	padding-left: 0px !important;
}

.progresstitle h5
{
	margin: 0px 0px 10px !important;
	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Cinzel';
}




/*------------------------------------------/
/-----------------ARTISTS---------------/
/------------------------------------------*/
.artists
{
	padding: 100px 0px;
}
.quotes
{
	margin-top: 60px;
	/*font-family: "Source Sans Pro",sans-serif;*/
	font-family: 'Cinzel';
	color: #888;
}
.quotes blockquote
{
	margin-bottom: 0px !important;
}
.name
{
	text-align: right;
	font-style:italic;
	font-weight: 400;
	font-size: 15px;
	color: #242424;
}






/*------------------------------------------/
/-----------------Subscribe------------------/
/------------------------------------------*/

.subscribe-social
{
	background-color: #45070C;
	padding: 20px 0px 5px;
}

.form-group
{
	margin-bottom: 0px !important;

}
.form-control, .form-control:focus
{
	color: rgb(250, 248, 245) !important;
	border: 1px solid rgb(250, 248, 245) !important;
	background-color: #8F0100 !important;
	box-shadow: none !important;
}
.social
{
	list-style: none;
	display: inline-block;
}
.social li
{
	display: inline-block;
	margin: 0px 5px;
}
.social li a
{
	color: rgb(250, 248, 245);
	font-size: 35px;
	line-height: 0px !important;
}


.address
{
	padding: 60px 0px;
	background-color: rgba(0,0,0,0.1);
}
.contact-top {
	padding-top: 30px;
}
.info p
{
	/*font-family: "Source Sans Pro",sans-serif;*/
	font-family: 'Cinzel';
	font-weight: 400;
	font-size: 12px;
	text-transform: uppercase;
	color: #888;
}
.btn-or
{
	background-color: rgb(250, 248, 245) !important;
	border: 1px solid rgb(250, 248, 245) !important;
	color: #45070C !important;
}
.form-control::-webkit-input-placeholder { color: rgb(250, 248, 245) !important; }
.form-control:-moz-placeholder { color: rgb(250, 248, 245) !important; }
.form-control::-moz-placeholder { color: rgb(250, 248, 245) !important; }
.form-control:-ms-input-placeholder { color: rgb(250, 248, 245) !important; }

/*------------------------------------------/
/-----------------Footer--------------------/
/------------------------------------------*/
.foot
{
	padding: 50px 0px 30px;
}
.foot-logo
{
	font-family: 'Pacifico', cursive;
	color: #8F0100;
	font-size: 30px;
	text-align: center;
}
.foot-text
{
	color: #888;
	/*font-family: "Source Sans Pro",sans-serif;*/
	font-family: 'Cinzel';
	font-size: 12px;
	font-weight: 700;
	padding: 20px 0px;
	text-transform: uppercase;
}
.foot-text a
{
	color: #8F0100;
}
.contact p, .contact a {
	font-size: 14px;
}
.referral {
	padding-top: 40px;
}
.referral a {
	color: #8F0100;
}
.contact a {
	color: #8F0100;
}
.contact a:focus, .contact a:hover, .referral a:focus, .referral a:hover {
	color: #888;
}


@media (min-width: 200px) and (max-width: 767px) {
.navstyle{
	width: 100% !important;
}
.navstyle li a {
    padding: 10px 15px !important;
    text-align: center;
    display: block;
}
.notes button
{
margin-top: 20px;
}
.centertext
{
text-align: center;
}
.btn-or
{
margin-top: 20px;
display: inline-block;
}
.social {
    margin-top: 10px;
}
.menu-button {

    padding: 8px 10px !important;
    margin-top: 9px !important;
    font-size: 30px !important;
	color: rgb(250, 248, 245);
}
figure.effect-Beauty h2 {
    margin-top: 15%;
    font-size: 16px;
}
figure.effect-Beauty p {
    padding: 6px;
	display: none;
	}
.services, .about, .notes, .artists, .address, .gallery{
padding: 40px 0px;
	}
}
@media (min-width: 768px) and (max-width: 990px) {
.social {
    margin-top: 10px;
}
.notes button {
    padding: 14px 19px;
    font-size: 13px;
}
}
@media (min-width: 100px) and (max-width: 350px) {
.sorting {

    font-size: 10px;

}
}
